<h1>Anagram Finder</h1>
  <form action='/anagrams'>
    <div class ="form-group">
      <label for="word">Enter a word to check</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="string">Enter some text</label>
      <input id="string" name="string" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
